# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Carpetas nativas generadas
/ios
/android

# Archivos locales
.env
.env.*
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Cachés
.cache
.parcel-cache
.nyc_output
coverage

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*

# VS Code pruebas
.vscode-test

# Archivos del sistema
.DS_Store
*.pem

# Claves y certificados
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Kotlin
.kotlin/

# Archivos temporales
*.orig.*